.body{
    padding-left: 60px;
    padding-right: 60px;
    left: 0px;
    right: 0px;
    font-family: $LinkFontFamily;
    font-style: $LinkFontStyle;
    font-stretch: $LinkFontStretch;
}

.b-event{
    &--top{
        display: table;
        width: 100%;
        height: 199px;
        box-shadow: 0px 12px 9px 0 rgba(0, 78, 194, 0.15);
        border: solid 1px $indigo;
        background-color: $purple;
        z-index: 5;
        position: relative;
        &_left{
            display:table-cell;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 333px;
            height: 100%;

        }

        &_right{
            display:table-cell;
            position: absolute;
            width: 331px;
            height: 100%;
            display: table-cell;
            padding: 0;
            right: 0;
            border-left: 1px solid $blurple;
        }
    }
    &--middle{
        display: table;
        width: 100%;
        &_left{
            position: relative;
            display: table-cell;
            width: 540px;
            height: 631px;
            box-shadow: 0px 2px 6.8px 0.2px rgba(80, 103, 218, 0.15);
            background-color: $white;
            //z-index: -1;
        }

        &_right{
            display: table-cell;
            margin-left:auto;
            margin-right:auto;
            padding: 0;
            right: 0;
            z-index: -2;
            //min-width: 750px;
        }
    }
}
.b-head{
    &_search{
        position: absolute;
        top: 62px;
        left: 62px;
        right: 87px;
        bottom: 72px;
        height: 65px;
        #b-head_search--name{
            background-color: $white;
            height: 100%;
            color: $indigo-blue;
            font-family: $LinkFontFamily;
            font-size: 20px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 0.95;
            letter-spacing: -0.3px;
            opacity: 0.93;
            border: none;
            border-radius: 2px;
            padding: 0;
            padding-left: 29px;
            width: 100%;
            box-sizing: border-box;
        }
        #b-head_search--save{
            width: 173px;
            position: absolute;
            border: none;
            top: 6px;
            right: 7px;
            bottom: 7px;
            background-color: $white;
            color: $warm-pink;
            font-size: 13px;
            font-family: $LinkFontFamily;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.46;
            letter-spacing: -0.1px;
            text-align: center;
            box-shadow: 0px 4px 11px 0 rgba(19, 79, 215, 0.15);
            z-index: 50;
        }
    }
    &_checkbox{
        position: absolute;
        left: 62px;
        top: 153px;
        vertical-align: center;

        .first{
            display: inline-block;
                    #b-check_all{
                        float: left;
                        color: $deep-lilac;
                        height: 15px;
                    }
                    .check--label{
                        float: left;
                        color: $deep-lilac;
                        padding-right: 21px;
                    }
        }

        .last{
            display: inline-block;
                    #b-check_repeat{
                        float: left;
                        background-color: $deep-lilac;
                        height: 15px;
                    }
                    .check--label{
                        float: left;
                        color: $deep-lilac;
                        padding-right: 21px;
                    }
        }
    }
    &_clocks{
        position: absolute;
        left: 32px;
        right: 60px;
        top: 54px;
        bottom: 0px;
        

        &--left{
            position: absolute;
            top: 0px;
            left: 0;
            height: 82px;
            width: 108px;

            &_top{
                position: absolute;
                top: 0;
                left: 0;
                height: 47px;
                width: 100%;
                background: $white;
                color: $dark-indigo;
                font-weight: 500;
                line-height: 47px;
                text-align: center;
                border-radius: 2px;
                box-shadow: 0px 3px 9px 0 rgba(11, 40, 64, 0.15);
                font-size: 16px;
                font-weight: bold;
            }
            &_bottom{
                position: absolute;
                top: 48px;
                left: 0;
                height: 32px;
                width: 100%;
                background: $deep-lilac;
                color: $pale-purple;
                line-height: 32px;
                text-align: center;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                font-size: 13px;
            }
        }
        &--right{
            position: absolute;
            top: 0px;
            left: 132px;
            height: 82px;
            width: 108px;

            &_top{
                position: absolute;
                top: 0;
                left: 0;
                height: 47px;
                width: 100%;
                background: $white;
                color: $dark-indigo;
                font-weight: 500;
                line-height: 47px;
                text-align: center;
                border-radius: 2px;
                box-shadow: 0px 3px 9px 0 rgba(11, 40, 64, 0.15);
                font-size: 16px;
                font-weight: bold;
            }
            &_bottom{
                position: absolute;
                top: 48px;
                left: 0;
                height: 32px;
                width: 100%;
                background: $deep-lilac;
                color: $pale-purple;
                line-height: 32px;
                text-align: center;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                font-size: 13px;
            }
        }
        &--zone{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 63px;
                margin-top: 19px;
                text-align: center;
                line-height: 63px;

                a{
                    text-decoration: underline;
                    color: $deep-lilac;
                    font-size: 12px;
                }
        }
    }
}
.b-items{
    &_guests{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 630px;
        padding: 0;
        margin: 0;
        h2{
            position: absolute;
            top: 63px;
            color: $indigo-blue;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.19;
            letter-spacing: -0.3px;
            left: 61px;
        }
        &--form{
            position: absolute;
            top: 99px;
            left: 0px;
            width: 100%;
            height: 500px;
            background-color:transparent;
            z-index: 100;
            &_add{
                position: absolute;
                left: 61px;
                top: 0;
                right: 80px;
                bottom: 0;
                height: 46px;
                #b-add_input{
                    border: 1px solid $light-blue-grey-two;
                    border-radius: 2px;
                    width: 100%;
                    height: 100%;
                    box-shadow: inset 0px 1px 2px 0 rgba(0, 43, 165, 0.15);
                    font-size: 14px;
                    padding-left: 15px;
                    background-color: $white;
                    box-sizing: border-box;
                }

                #b-add_button{
                    padding: 0;
                    position: absolute;
                    top: 4px;
                    right: 4px;
                    height: 37px;
                    width: 80px;
                    border: none;
                    border-radius: 2px;
                    box-shadow: 0px 12px 9px 0 rgba(0, 78, 194, 0.15);
                    background-color: $warm-pink;
                    color: $pale-grey;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 37px;
                }
            }
            &_checkbox{
                position: absolute;
                left: 61px;
                top: 67px;
                right: 80px;
                height: 20px;
                vertical-align: center;
                
                .first{
                    display: inline-block;
                    #b-check_invite{
                        float: left;
                        color: $white;
                        height: 15px;
                    }
                    .check--label{
                        float: left;
                        color: $blue-grey;
                        padding-right: 21px;
                    }
                }

                .middle{
                    display: inline-block;
                    #b-check_modify{
                        float: left;
                        color: $white;
                        height: 15px;
                    }
                    .check--label{
                        float: left;
                        color: $blue-grey;
                        padding-right: 21px;
                    }
                }

                .last{
                    display: inline-block;
                    #b-check_guest{
                        float: left;
                        color: $white;
                        height: 15px;
                        width: 15px;
                    }
                    .check--label{
                        float: left;
                        color: $blue-grey;
                        padding-right: 21px;
                    }
                }
                
            }
            &_drop{
                position: absolute;
                top: 183px;
                border-top: 1px solid $light-blue-grey-two;
                left: 61px;
                right: 78px;
                .b-drop_container{
                    padding-top: 34px;
                    border-radius: 2px;
                    box-shadow: 0px 4px 11px 0 rgba(19, 79, 215, 0.15);
                    border:none;

                    #b-drop_container--left{
                        background: url(/src/images/shape-5.png) no-repeat right $indigo-blue;
                        background-position: right 17px center;
                        padding-left: 20px;
                        height: 40px;
                        width: 200px;
                        background-color: $white;
                        border-top: 0;
                        border-bottom: 0;
                        border-left: 0;
                        border-right: 1px solid $light-blue-grey-two;
                        font-size: 18px;
                        color: $indigo-blue;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;

                    }
                    #b-drop_container--right{
                        background: url(/src/images/shape-5.png) no-repeat right $indigo-blue;
                        background-position: right 17px center;
                        padding-left: 20px;
                        height: 40px;
                        width: 200px;
                        background-color: $white;
                        border: none;
                        font-size: 18px;
                        color: $indigo-blue;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                    }

                }
            }
            &_disclaimer{
                position: absolute;
                top: 295px;
                left: 61px;
                right: 78px;
                p{
                    padding: 0;
                    margin: 0;
                    opacity: 0.7;
                    color: $dusk;
                    font-size: 11px;
                    line-height: 1.36;
                    letter-spacing: -0.1px;
                }
            }
            &_publish{
                position: absolute;
                top: 359px;
                left: 61px;

                #b-button_publish{
                    width: 100%;
                    height: 48px;
                    opacity: 0.93;
                    border-radius: 3.3px;
                    box-shadow: 0px 12px 9px 0 rgba(0, 78, 194, 0.15);
                    background-color: $indigo-blue;
                    color: $pale-grey;
                    font-size: 13px;
                    letter-spacing: -0.1px;
                }
            }
        }
    }
    
    &_choice{
        height: 36px;
        width: 795px;
        list-style-type: none;
        color: $deep-lilac;
        margin: 0;
        padding: 47px 0 0 60px;
        &--left{
           width: 131px;
           height: 100%;
            margin: 0;
            top: 0;
            display: inline-block;
        }
        &--right{
            
            width: 131px;
            height: 100%;
            margin: 0;
            padding: 0 0 0 39px;
            top: 0;
            display: inline-block;
        }

    }
    &-details{
        height: 484px;
        position: relative;
        background-color: $very-light-blue;
        margin-top: 4px;
        border-top: 1px solid $light-blue-grey-two;
        border-bottom: 1px solid $light-blue-grey-two;
        &_inputs{
            right: 360px;
            left: 62px;
            position: absolute;
            height: 484px;
            background-color: $very-light-blue;
            .b-text_location{
                position: absolute;
                left: 0px;
                top: 70px;
                width: 100%;
                color: $deep-lilac;
                font-size: 13px;
                margin: 0;
            }
            .b-input_location{
                position: absolute;
                left: 0px;
                top: 90px;
                width: 100%;
                height: 43px;
                font-size: 13px;
                letter-spacing: -0.3px;

                #b-input_location--id{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    padding-left: 18px;
                    color: $deep-lilac;
                    border-radius: 2px;
                    box-shadow: inset 0px 1px 2px 0 rgba(0, 43, 165, 0.15);
                    box-sizing: border-box;
                    background-color: $event-input;
                    border: 1px solid $light-blue-grey;
                }
            }
            
            .b-text_description{
                position: absolute;
                left: 0px;
                top: 171px;
                width: 100%;
                color: $deep-lilac;
                font-size: 13px;
                margin: 0;}
            
            .b-input_description{
                position: absolute;
                left: 0px;
                top: 193px;
                width: 100%;
                height: 88px;
                #b-input_description--id{
                    padding-left: 18px;
                    position: absolute;
                    resize: none;
                    left: 0px;
                    top: 0px;
                    width: 100%;
                    height: 100%;
                    box-shadow: inset 0px 1px 2px 0 rgba(0, 43, 165, 0.15);
                    box-sizing: border-box;
                    background-color: $event-input;
                    border-radius: 2px;
                    border: 1px solid $light-blue-grey;
                }
        }
        }
        &_drops{
            right: 0;
            border-left: 1px solid $light-blue-grey-two;
            position: absolute;
            padding: 0;
            margin: 0;
            width: 332px;
            height: 484px;
            bottom: 0;
            background-color: $very-light-blue;

            &--top{
                position: absolute;
                right:0px ;
                top: 72px;
                width: 100%;
                height: 75px;
            }
            &--middle{
                position: absolute;
                right:0px ;
                top: 186px;
                width: 100%;
                height: 50px;
            }
            &--bottom{
                position: absolute;
                right:0px ;
                top:266px ;
                width: 100%;
                height: 40px;
            }
        }

    }
}

.items_link{
    font-size: $itemsLinkFontSizeSmall;
    font-family: $LinkFontFamily;
    line-height: 1.58;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    letter-spacing: -0.1px;
    font-weight: $LinkFontWeight;
    font-style: $LinkFontStyle;
    font-stretch: $LinkFontStretch;
    &--left{
        padding: 0 0 0 23px;
    }
}
.-active{
        color:$purple-two;
        border-bottom: 4px solid $amethyst;
    }