$warm-pink: #fa4084;
$lipstick: #e11f66;
$purple: #5522a3;
$indigo: #3b0c82;
$very-light-blue: #f0f6ff;
$white: #ffffff;
$light-blue-grey: #c9d0ed;
$indigo-blue: #47109b;
$black: #303030;
$pale-grey: #e9eef2;
$pale-grey-two: #e7ecf5;
$deep-lilac: #9274c5;
$purple-two: #5421a2;
$amethyst: #ae67d1;
$dark-indigo: #2f0969;
$salmon: #ff887c;
$light-gold: #fbd75b;
$aqua-marine: #46d6db;
$pastel-blue: #a4bdfc;
$soft-blue: #5484ed;
$dusk: #605077;
$blue-grey: #7780a7;
$indigo-blue-two: #3c1081;
$pale-purple: #a78cd5;
$purple-three: #52209d;
$light-blue-grey-two: #ccd9ec;
$blurple: #6730bc;
$event-input:#f6faff;